.about-us {
    background-image:  url(images/fire-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 110rem;
    
    

    &::before { //*for about us background
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, var(--black-2) 0%, #00000054 100%);
        z-index: 1;
    }

    &-box-1, &-box-2 {
    z-index: 999;

    }

    &-box-1 {
       display: flex;
       justify-content: center;
       
       flex-direction: column;
       padding: 0 1rem;
       width: 55%;
      

        .img-1 {
            width: 40rem;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                
            }
           
        }

        .img-2 {
        transition: all 0.2s;
            &:hover {
                transform: rotate(-0.04turn);
                
            }
        }

        .img-3 {
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                
            }
           
        }

        .img-4 {
            transition: all 0.2s;
            &:hover {
                transform: rotate(0.04turn);
                
            }
        }

        .card-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            animation: upDown 2.5s infinite;
        }

        img:not(:first-child)
        {
            margin-left: 4rem;
        }

       .three-cards {
        display: flex;
        justify-content: center;
        margin-top: -24rem;
        z-index: 2;
  
        
       }

        .img-2, .img-3, .img-4 {
            max-width: 20rem;
            
        }
    }

    &-box-2 {

    width: 50%;
    padding-right: 4rem;
       
    
    }

    &-lists {
        list-style: none;  
        
        li {
            margin-bottom: 1rem;
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }

        .icon {
            font-size: var(--font-md-1);
        }

    }
}



.content-container {
    width: 100%; 
}