@keyframes upDown {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(10px);
    }



    100% {
        transform: translateY(0);
    }
}

@keyframes upDown2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(20px);
    }



    100% {
        transform: translateY(0);
    }
}

@keyframes cards {
    0% {
        transform: rotate(0) skew(0, 10deg);
        
    }

    50% {
        transform: rotateZ(30deg) skew(0, -20deg);

    }

    100% {
        transform: rotate(0) skew(0, 10deg);
    }
}


@-webkit-keyframes stripes-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes stripes-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}