.types {

    
    height: 80rem;
    position: relative;
    background-image: url(images/bg1.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

    .primary-container {
        text-align: center;
    }

    &-big {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
       

    }

    &-inner {
        background-color: var(--sm-transparent-2);
        border: 1px solid var(--orange);
        width: 39rem;
        z-index: 99999;
       padding: 3.5rem;
       display: flex;
       justify-content: center;
       align-items: baseline;
    

       text-align: center;
       position: relative;
       
      &-box {
       margin-top: 3.5rem;
        
      }

    }

    &-icon {
       font-size: 4rem;
       color: var(--black);
       background-color: var(--orange);
       padding: 2.5rem;
       position: absolute;
       top: 0;
       left: 50%;
       transform: translate(-50%, -50%);
       
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.types::before {
    @include addOL;
}

