.types {

    
    height: 80rem;
    position: relative;
    background-image: url(images/bg1.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;




}

.types::before {
    @include addOL;
}