
.lore {

    &::before {
        @include addOL;
     
         }

    background: url(images/bg1.png);
    position: relative;
    background-position: 80%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    height: 100rem;

    &-box1 {
    flex: 0 0 45%;
    z-index: 2;
        
    }

    &-box2 {
  
    z-index: 2;
    
    img {
        width: 95%;
        animation: upDown 2s infinite;
    }
    }


}

