.starter {
  background-image: url(images/hero-bg-v1.jpg);
  background-size: cover;
  padding-top: 2rem;
  z-index: 2;
  position: relative;
  min-height: 108rem;
  -webkit-clip-path: polygon(100% 0, 100% 99%, 0 93%, 0 0);
          clip-path: polygon(100% 0, 100% 99%, 0 93%, 0 0);
}
.starter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: -1;
}
.starter .main-header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 13rem;
  margin-bottom: 4rem;
}
.starter .main-header-logo {
  width: var(--font-xxl-2);
}

.nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}
.nav, .nav-list, .nav-link, .nav li {
  height: 100%;
}
.nav-list {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  font-size: var(--font-default-2);
  gap: 2.5rem;
  list-style: none;
  text-transform: uppercase;
}
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-link:link, .nav-link:visited {
  color: var(--white);
}
.nav-link-active {
  color: var(--orange) !important;
  font-weight: 700;
}
.nav-link:hover {
  color: var(--orange);
}
.nav-icon {
  font-size: var(--font-sm-2);
}
.nav .menu {
  position: relative;
}
.nav .menu-sub {
  list-style: none;
  position: absolute;
  top: 8rem;
  left: -5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  padding: 2.5rem;
}
.nav .menu-sub :link, .nav .menu-sub :visited {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s;
}
.nav .menu-sub :link:hover, .nav .menu-sub :visited:hover {
  color: var(--orange);
}
.nav .menu li {
  padding-bottom: 0.5rem;
}
.nav .menu:hover .menu-sub {
  opacity: 1;
  visibility: visible;
}
.nav .menu:hover .nav-link {
  color: var(--orange);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-1 {
  padding: 1rem;
}
.hero-2 .hero-big-img {
  width: 95%;
  animation: upDown 2s ease-in infinite;
}
.hero .card-1, .hero .card-2, .hero .card-3 {
  position: absolute;
}
.hero .card-1 {
  height: 20rem;
  top: 0;
  animation: cards 3s infinite;
}
.hero .card-2 {
  height: 15rem;
  bottom: 0;
  left: 40%;
  animation: cards 3s infinite;
}
.hero .card-3 {
  height: 10rem;
  top: 0;
  animation: cards 3s infinite;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(images/border-design.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 4rem 5rem;
}

.box-center {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 8rem;
  z-index: 999;
}

.primary-title, .text-outline {
  text-transform: uppercase;
  font-family: Waruna, sans-serif;
}

.primary-title {
  font-size: var(--font-xxl-1);
  font-weight: 500;
  background-image: var(--bg-img-2);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.primary-title-address {
  font-size: var(--font-md-2) !important;
}
.primary-title-md {
  font-size: var(--font-lg);
}
.primary-title-sm {
  font-size: var(--font-md-1);
}

.primary-container {
  position: relative;
}
.primary-container-contents {
  position: absolute;
  bottom: 2rem;
}
.primary-container-lore {
  position: absolute;
  top: 5rem;
}
.primary-container-tokenomics {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-outline {
  font-size: var(--font-xl);
  color: transparent;
  -webkit-text-stroke: 1px var(--sm-transparent);
  font-weight: 500;
}

.section-description {
  color: var(--white);
  font-size: var(--font-default-1);
  line-height: 1.5;
}

.primary-content {
  font-size: var(--font-md-3);
  letter-spacing: 2px;
  width: 80%;
  font-weight: 600;
  color: var(--white);
}
.primary-content-address {
  font-size: var(--font-md-2) !important;
  text-transform: capitalize !important;
  width: 100%;
  font-weight: 500;
}

.secondary-title {
  font-size: var(--font-md-3);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}

.percent {
  font-size: var(--font-md-2) !important;
  font-weight: 800;
}

.italic-text {
  color: var(--white);
  font-size: var(--font-default-2);
  font-style: italic;
  text-transform: uppercase;
}

.total-amount {
  font-size: var(--font-md-4);
}

@keyframes upDown {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes upDown2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes cards {
  0% {
    transform: rotate(0) skew(0, 10deg);
  }
  50% {
    transform: rotateZ(30deg) skew(0, -20deg);
  }
  100% {
    transform: rotate(0) skew(0, 10deg);
  }
}
@keyframes stripes-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.u-margin-bt-big {
  margin-bottom: 8rem;
}

.u-margin-bt-md {
  margin-bottom: 4rem;
}

.u-margin-bt-xs {
  margin-bottom: 1rem;
}

.u-margin-bt-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bt-sm-2 {
  margin-bottom: 3rem;
}

.u-margin-t-sm {
  margin-top: 8rem;
}

.u-margin-t-big {
  margin-top: 3rem;
}

.u-margin-t-huge {
  margin-top: 10rem;
}

.about-us {
  background-image: url(images/fire-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 110rem;
}
.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, var(--black-2) 0%, rgba(0, 0, 0, 0.3294117647) 100%);
  z-index: 1;
}
.about-us-box-1, .about-us-box-2 {
  z-index: 999;
}
.about-us-box-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  width: 55%;
}
.about-us-box-1 .img-1 {
  width: 40rem;
  transition: all 0.2s;
}
.about-us-box-1 .img-1:hover {
  transform: scale(1.1);
}
.about-us-box-1 .img-2 {
  transition: all 0.2s;
}
.about-us-box-1 .img-2:hover {
  transform: rotate(-0.04turn);
}
.about-us-box-1 .img-3 {
  transition: all 0.2s;
}
.about-us-box-1 .img-3:hover {
  transform: scale(1.1);
}
.about-us-box-1 .img-4 {
  transition: all 0.2s;
}
.about-us-box-1 .img-4:hover {
  transform: rotate(0.04turn);
}
.about-us-box-1 .card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: upDown 2.5s infinite;
}
.about-us-box-1 img:not(:first-child) {
  margin-left: 4rem;
}
.about-us-box-1 .three-cards {
  display: flex;
  justify-content: center;
  margin-top: -24rem;
  z-index: 2;
}
.about-us-box-1 .img-2, .about-us-box-1 .img-3, .about-us-box-1 .img-4 {
  max-width: 20rem;
}
.about-us-box-2 {
  width: 50%;
  padding-right: 4rem;
}
.about-us-lists {
  list-style: none;
}
.about-us-lists li {
  margin-bottom: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.about-us-lists .icon {
  font-size: var(--font-md-1);
}

.content-container {
  width: 100%;
}

.lore {
  background: url(images/bg1.png);
  position: relative;
  background-position: 80%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  height: 100rem;
}
.lore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.595), rgba(0, 0, 0, 0.277));
}
.lore-box1 {
  flex: 0 0 45%;
  z-index: 2;
}
.lore-box2 {
  z-index: 2;
}
.lore-box2 img {
  width: 95%;
  animation: upDown 2s infinite;
}

.button-container {
  width: 18%;
}

.btn {
  background: var(--bg-img);
  background-size: 200% auto;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: var(--font-default-2);
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background: var(--bg-img-3);
  background-size: 300% auto;
}
.btn-portal {
  width: 80%;
}
.btn-playnow {
  width: 30%;
}
.btn-lore {
  width: 40%;
}

.progress-bar > span:after {
  animation: stripes-move 2s linear infinite;
}

.tokenomics {
  background-image: url(images/bg2-min.png);
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 10rem;
  justify-content: center;
}
.tokenomics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.595), rgba(0, 0, 0, 0.277));
}
.tokenomics img {
  width: 120%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -10%;
  animation: upDown2 2.5s ease infinite;
}
.tokenomics-box2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -9999 !important;
  flex: 0 0 70%;
}
.tokenomics-box2 .primary-container {
  width: 100%;
  text-align: center;
}
.tokenomics-box2 .section-description {
  font-weight: 800;
}

.progress-container {
  display: flex;
  gap: 3rem;
  width: 100%;
  flex: 1;
}
.progress-container .individual-progress {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.progress-container .individual-progress .text-flex {
  display: flex;
  align-items: center;
}
.progress-container .individual-progress .text-flex .percent {
  margin-left: auto;
}
.progress-container .progress-bar {
  background-color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  width: 100%;
}
.progress-container .progress-bar > span {
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  transition: 500ms linear;
  -webkit-transition: 500ms linear;
}
.progress-container .progress-bar > span:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background-size: 50px 50px;
  overflow: hidden;
  animation: stripes-move 1s linear infinite;
  -webkit-animation: stripes-move 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.progress-container .progress-bar-100, .progress-container .progress-bar-45, .progress-container .progress-bar-15, .progress-container .progress-bar-10, .progress-container .progress-bar-7, .progress-container .progress-bar-3, .progress-container .progress-bar-2, .progress-container .progress-bar-1 {
  background-color: var(--primary-color);
  width: 2.5rem;
  height: 2.5rem;
}
.progress-container .progress-bar-100 {
  background-color: var(--orange);
  width: 100%;
}
.progress-container .progress-bar-45 {
  width: 45%;
}
.progress-container .progress-bar-15 {
  width: 15%;
}
.progress-container .progress-bar-10 {
  width: 10%;
}
.progress-container .progress-bar-7 {
  width: 7%;
}
.progress-container .progress-bar-3 {
  width: 3%;
}
.progress-container .progress-bar-2 {
  width: 2%;
}
.progress-container .progress-bar-1 {
  width: 1%;
}
.progress-container-box2, .progress-container-box1 {
  width: 100%;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-SemiBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(font/Poppins-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Poppins;
  src: url(font/Poppins-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Waruna;
  src: url(fonts/WarunaRegular.ttf);
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FAC349;
  --secondary-color: #e65000;
  --orange: #ef9700;
  --white: #fff;
  --black: #1d1d1d;
  --black-2: #131313;
  --sm-transparent: #ffffff39;
  --font-xxl-1: 17rem;
  --font-xxl-2: 15rem;
  --font-xl: 12rem;
  --font-lg: 5.5rem;
  --font-md-1: 3.5rem;
  --font-md-2: 2.5rem;
  --font-md-3: 2rem;
  --font-md-4: 2.2rem;
  --font-md-5: 3rem;
  --font-default-1: 1.8rem;
  --font-default-2: 1.6rem;
  --font-sm: 1.4rem;
  --font-sm-2: 1.2rem;
  --bg-img: linear-gradient(180deg, var(--primary-color) 20%, var(--secondary-color) 100%);
  --bg-img-2: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  --bg-img-3: linear-gradient(20deg, var(--primary-color) 20%, var(--secondary-color) 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  background-color: var(--black-2);
}/*# sourceMappingURL=style.css.map */