@import "header";
@import "texts";
@import "animation";
@import "utilities";
@import "aboutus";
@import "lore";
@import "buttons";
@import "tokenomics";
@import "gametypes";

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 500;
}


@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Waruna;
    src: url(fonts/WarunaRegular.ttf);
}


*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    //*COLORS
    --primary-color: #FAC349;
    --secondary-color: #e65000;
    --orange: #ef9700;
    --white: #fff;
    --black: #1d1d1d;
    --black-2: #131313;
    --sm-transparent: #ffffff39;
    --sm-transparent-2: #1d1d1da7;

    //*FONT SIZES
    --font-xxl-1: 17rem;
    --font-xxl-2: 15rem;
    --font-xl: 12rem;
    --font-lg: 5.5rem;
    --font-md-1: 3.5rem;
    --font-md-2: 2.5rem;
    --font-md-3: 2rem;
    --font-md-4: 2.2rem;
    --font-md-5: 3rem;
    --font-default-1: 1.8rem;
    --font-default-2: 1.6rem;
    --font-sm: 1.4rem;
    --font-sm-2: 1.2rem;

  

    //* BACKGROUND
    --bg-img: linear-gradient(180deg, var(--primary-color) 20%, var(--secondary-color) 100%);
    --bg-img-2: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    --bg-img-3: linear-gradient(20deg, var(--primary-color) 20%, var(--secondary-color) 100%);

}

html {
    font-size: 62.5%;
}



body {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    background-color: var(--black-2);
}

